out/
.idea/
*.iml

target/
pom.xml.tag
pom.xmlreleaseBackup
pom.xml.versionBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.java-version